.active{
    background-color: var(--nodelighter);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--htbgrey);
    color: white;
    position: sticky;
    margin-top: 10px;
    margin: auto;
    padding: 0.5rem 12rem;
    
}

nav .title {
    font-family: 'Bowlbey';
    font-size: 36px;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--htbgreen);
    animation: titleDance 5s infinite;
}
/* 
@keyframes titleDance {
    0% {text-shadow: 2px 2px 0px  var(--nodeMoreLighter), -2px -2px 0px  var(--nodeMoreLighter) , 2px -2px 0px  var(--nodeMoreLighter), -2px 2px 0px  var(--nodeMoreLighter);   }
    20%{text-shadow: 2px 2px 0px  var(--nodelighter), -2px -2px 0px  var(--nodelighter) , 2px -2px 0px  var(--nodelighter), -2px 2px 0px  var(--nodelighter);   }
    40% {text-shadow: 2px 2px 0px  var(--nodeMoreLighter), -2px -2px 0px  var(--nodeMoreLighter) , 2px -2px 0px  var(--nodeMoreLighter), -2px 2px 0px  var(--nodeMoreLighter);   }
    60%{text-shadow: 2px 2px 0px  var(--nodelighter), -2px -2px 0px  var(--nodelighter) , 2px -2px 0px  var(--nodelighter), -2px 2px 0px  var(--nodelighter);    }
    80% {text-shadow: 2px 2px 0px  var(--nodeMoreLighter), -2px -2px 0px  var(--nodeMoreLighter) , 2px -2px 0px  var(--nodeMoreLighter), -2px 2px 0px  var(--nodeMoreLighter);   }
    100%{text-shadow: 2px 2px 0px  var(--nodelighter), -2px -2px 0px  var(--nodelighter) , 2px -2px 0px  var(--nodelighter), -2px 2px 0px  var(--nodelighter); }

} */

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    font-family: 'jakarta';
    font-size: 20px;
    text-decoration: none;
    color: var(--htbgreen);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

/* IMPORTANT LEARN THIS a:not 
for when you dont wanna activate the already activated */
nav ul li a:not(.active):hover {
    background-color: var(--node);
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: var(--gap);
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: var(--black100);
    border-radius: 0.13rem;
}


@media (max-width: 520px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}