*{--htbgreen: #9fef00;
  --node:#141d2b;
  --htbgrey: #a4b1cd;
  --azure: #0086ff;
  --nugget:#ffaf00;
  --malware:#ff3e3e;
  --purple:#9f00ff;
  --aquamarine:#2ee7b6;
  --nodelighter: #1e2d44;
  --nodeMoreLighter:#21334d;
  --nodedark: #0d121b;
  --cartoonRed: #ea4f5e;
  --cartoonYellow: #f6c348;
  --cartoonGreen:	#40e7b9;
  --cartoonBlue:#4f73f4;
  --cartoonViolet:#da65f9;
  --red100: #F5776B;
  --black100: #1B1B1B;
  --htbgrey10: #d2dffa;
  --olivegreen100: #BDC97E;
  --beige: #F3ECD1;
} 

#root {
  width: 100%;
}


